:root {
    --color-blue-dark: #195697;
    --color-blue: #2364aa;
    --color-blue-light: #6e9fd391;
    --color-yellow-dark: rgb(255, 203, 17);
    --color-yellow: rgb(253, 207, 42);
    --color-yellow-light: rgb(255, 216, 75);
    --color-white: #fff;
    --color-black: #333;
    --color-red: #f00;
    --primary-font: 'Roboto', sans-serif;
}