@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.content {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advise {
  min-width: 300px;
  height: 150px;
  background-color: #2364aa;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 75px);
  -webkit-box-shadow: 0px 0 10px #000;
          box-shadow: 0px 0 10px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advise__message {
  text-align: center;
}

.advise__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.advise__button {
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  color: #2364aa;
  outline: none;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.advise__button:hover {
  background-color: #6e9fd391;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.confirmation {
  min-width: 400px;
  min-height: 200px;
  background-color: #2364aa;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  left: calc(50% - 200px);
  top: calc(50% - 100px);
  -webkit-box-shadow: 0px 0 20px #000;
          box-shadow: 0px 0 20px #000;
}

.confirmation__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
}

.confirmation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.confirmation__button {
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  color: #2364aa;
  outline: none;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.confirmation__button:hover {
  background-color: #6e9fd391;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.update {
  min-width: 350px;
  background-color: #2364aa;
  position: absolute;
  top: calc(50% - height);
  left: calc(50% - width);
  -webkit-box-shadow: 0px 0 10px #000;
          box-shadow: 0px 0 10px #000;
}

.update__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
}

.update__close {
  width: 30px;
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background: transparent;
  margin: 10px 10px 0 0;
  outline: none;
}

.update__close-image {
  width: 100%;
  height: 100%;
}

.update__close:hover {
  cursor: pointer;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.update__message {
  font-size: 20px;
  margin-bottom: 0;
}

.update__label {
  font-size: 16px;
  margin-top: 12%;
}

.update__input {
  outline: none;
  padding: 10px 20px 10px 20px;
  background-color: #fff;
  border: none;
  color: #2364aa;
  border-radius: 4px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.update__submit {
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  color: #2364aa;
  outline: none;
  border-radius: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin: 10% 0;
}

.update__submit:hover {
  background-color: #6e9fd391;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.reports {
  min-width: 375px;
  width: 80%;
  max-height: 80%;
  background-color: #2364aa;
  position: absolute;
  top: calc(50% - height);
  left: calc(50% - width);
  -webkit-box-shadow: 0px 0 10px #000;
          box-shadow: 0px 0 10px #000;
  overflow: auto;
}

.reports__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
}

.reports__close {
  width: 30px;
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  background: transparent;
  margin: 10px 10px 0 0;
  outline: none;
}

.reports__close-image {
  width: 100%;
  height: 100%;
}

.reports__close-image:hover {
  cursor: pointer;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.reports__message {
  font-size: 20px;
}

.reports__table {
  display: table;
  border-collapse: collapse;
  margin-bottom: 5%;
  border: 1px solid #fff;
}

.reports__tableh {
  border: 1px solid #fff;
  padding: 10px 30px;
  text-align: center;
}

.reports__tabledata {
  padding: 10px 30px;
  text-align: center;
}

.content__card {
  width: 30%;
  min-width: 500px;
  margin: 0 auto;
  height: 80%;
  min-height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd84b), color-stop(#fdcf2a), to(#ffcb11));
  background: linear-gradient(#ffd84b, #fdcf2a, #ffcb11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 5px 10px 20px #000;
          box-shadow: 5px 10px 20px #000;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2364aa;
  -webkit-box-shadow: 0 10px 30px #000;
          box-shadow: 0 10px 30px #000;
}

.header__navigation {
  width: 50%;
  margin: 0 0 0 12.5%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation-link {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #FEC601;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header__navigation-link:hover {
  color: white;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header__navigation-links {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  margin-left: 2%;
  width: 200px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  width: 100%;
  padding-bottom: 90vh;
  background: url("../assets/bicicletario.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.registration {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration__title {
  width: 60%;
  padding-top: 5%;
  text-align: center;
}

.registration__name, .registration__id, .registration__password, .registration__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.registration__name-label, .registration__id-label, .registration__password-label, .registration__type-label {
  margin-top: 10%;
}

.registration__name-input, .registration__id-input, .registration__password-input, .registration__type-select {
  padding: 10px 20px;
  margin-top: 5%;
  border-radius: 4px;
  width: 100%;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration__submit-button {
  padding: 10px 30px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: #2364aa;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  outline: none;
  margin-top: 30%;
}

.registration__submit-button:hover {
  background-color: #195697;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.login__logo {
  width: 100px;
  height: 100px;
}

.login__title {
  width: 60%;
  padding-top: 5%;
  text-align: center;
}

.login__input, .login__password {
  width: 50%;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.login__input-label, .login__password-label {
  margin-top: 5%;
}

.login__button {
  padding: 10px 30px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: #2364aa;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  outline: none;
  margin-top: 10%;
}

.login__button:hover {
  background-color: #195697;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.login__buttons {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
}

.login__delete, .login__update, .login__reports {
  position: relative;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.login__delete-image, .login__update-image, .login__reports-image {
  width: 20px;
  height: 20px;
}

.login__delete-label, .login__update-label, .login__reports-label {
  position: absolute;
  left: -35px;
  width: 40px;
  height: 100%;
  background-color: #2364aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login__delete-label:before, .login__update-label:before, .login__reports-label:before {
  content: "";
  position: absolute;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: #2364aa;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login__delete-input, .login__update-input, .login__reports-input {
  outline: none;
  height: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #2364aa;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login__delete-input:hover + label, .login__update-input:hover + label, .login__reports-input:hover + label {
  width: calc(100% + 35px);
  border-radius: 4px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login__delete-input:hover + label:before, .login__update-input:hover + label:before, .login__reports-input:hover + label:before {
  right: 2px;
}

.about {
  width: 75%;
  text-align: justify;
}

.about__title {
  margin-bottom: 10%;
}
/*# sourceMappingURL=global.css.map */